<html>
  <head>
    <title>Form2</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <form id="formTwo" action="/story2" method="post">
        <div class="form-group">
          <label for="adjective">An adjective</label>
          <input id="adjective" name="adjective" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="adjective2">An adjective</label>
          <input id="adjective2" name="adjective2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="noun">A noun</label>
          <input id="noun" name="noun" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="noun2">A noun</label>
          <input id="noun2" name="noun2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="nounPlural">A plural noun</label>
          <input id="nounPlural" name="nounPlural" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="game">A game</label>
          <input id="game" name="game" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="nounPlural2">A plural noun</label>
          <input id="nounPlural2" name="nounPlural2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="ingVerb">A verb ending in "ing"</label>
          <input id="ingVerb" name="ingVerb" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="noun3">A noun</label>
          <input id="noun3" name="noun3" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="plant">A plant</label>
          <input id="plant" name="plant" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="bodyPart">A body part</label>
          <input id="bodyPart" name="bodyPart" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="location">A location</label>
          <input id="location" name="location" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="ingVerb2">A verb ending in "ing"</label>
          <input id="ingVerb2" name="ingVerb2" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="adjective3">An adjective</label>
          <input id="adjective3" name="adjective3" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="number">A number</label>
          <input id="number" name="number" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="nounPlural3">A plural noun</label>
          <input id="nounPlural3" name="nounPlural3" class="form-control" type="text">
        </div>

        <button type="submit" class="btn" onclick='location.href("/story2")'>Show me the story!</button>
      </form>
    </div>
  </body>
</html>