<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Homepage!</h1>
      <a href="/form">A basic story of adventure!</a><br>
      <a href="/form2">A Mad Vacation!</a>
    </div>
  </body>
</html>